.product {
  display: flex;
  border-bottom: 1px solid lightgray;
  margin-top: 1%;
  padding-bottom: 1%;
}

.product-img {
  max-width: 20%;
  padding-right: 2%;
}
.product-img img {
  width: 100%;
}
.product-details {
  margin-right: 1%;
}
.product-name {
  color: rgb(48, 81, 225);
}
.center {
  text-align: center;
}
.Btn {
  background-color: rgb(223, 192, 16);
  border: none;
  padding: 3% 20%;
  border-radius: 4px;
}
.Btn:hover {
  cursor: pointer;
  background-color: rgb(236, 134, 97);
}
.product-desc {
  display: flex;
}
.product-desc-left {
  margin-right: 8%;
}
.features-list {
  color: gray;
}
