.header img {
  height: 80px;
}
.header {
  text-align: center;
}
.header nav {
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  /* line-height: 40px; */
  /* font-size: 20px; */
}
.header nav p {
}

nav p {
  color: white;
  margin: 0 30px;
  padding: 1% 5px;
}
nav p:hover {
  background-color: grey;
  cursor: pointer;
}
